.p-article__textbox--archive {
    display: flex;
    flex-direction: column;
    background-color: #3C2B1C;
    color: #fff;
    padding: 1rem 1.5rem 10rem 1.5rem;
    margin-bottom: 2rem;
    @include media(tb) {
        margin:0;
        padding-left: 4rem;
    }
}