/*フッターinfo部分*/
.p-footer__info {
    display: flex;
    color: #fff;
    font-family: "M+ 1m regular";
    font-size: 1.4rem;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 3.5rem;
    font-size:2rem;
    @include media(tb){
        font-size: 2rem;
        margin: 2.5rem 0 0;
    }
    @include media(pc){
        font-size: 1rem;
        margin: 2rem 0 1rem;
    }
}
