/*Component*/
.c-header__title {
    @include header--title--menu(4rem);
    margin: auto;
    text-align: center;
    padding-top: 5rem;
    @include media(pc){
    padding-top: 0;
    margin: 3rem 0 3rem 4rem; 
    font-size: 4.5rem;
        }
}
