.c-searchform__box {
    border:solid;
    border-radius: .8rem;
    border-width:  .1rem;
    border-color: #707070;
    height: 4rem;
    width: 60%;
    background-image: url(../../../image/front-page/front-page_header_search.jpg);
    background-repeat: no-repeat;
    background-position:5% 50%;
    background-size: 1.8rem 1.8rem;
    @include media(tb) {
        width: 52%;
    }
    @include media(pc) {
        text-align: right;
        width: 75%;
        height: 3rem;
    }
}